/* EXERCÍCIO 1: fontes */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root {
  --cor-fundo: #fff;
  --cor-negrito: #d027aa;
  --cor-fundo-imagem-inicial: #f6f1b2;
  --cor-fundo-imagem-final: #4599b2;
  --cor-borda-imagem: #d3d3d3;
  --cor-fundo-cardapio: rgba(255, 255, 255, 0.2);
  --cor-cardapio: #aac0ae;
  --cor-texto: #333;
  --cor-titulo-cabecalho: #e90c0c;
}

html{
  min-height: 100vh;
}

body {
  background-color: var(--cor-fundo);
  font-family: "Verdana";
  min-height: 100vh;
  margin: 0px;
}

strong {
  color: var(--cor-negrito);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--cor-fundo-imagem-inicial), var(--cor-fundo-imagem-final) 80%);
  border-left: 1px solid var(--cor-borda-imagem);
  border-right: 1px solid var(--cor-borda-imagem);
}

#cardapio {
  background-color: var(--cor-fundo-cardapio);
  border-top: 1px solid var(--cor-cardapio);
  border-bottom: 1px solid var(--cor-cardapio);
  border-left: 1px solid var(--cor-cardapio);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-texto);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 154px auto;
  grid-template-rows: 110px auto 110px;
  grid-template-areas: 
    "lateral cabecalho"
    "lateral meio"
    "lateral rodape";
}

#cabecalho-pagina {
  grid-area: cabecalho;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: meio;
  padding: 0px 20px;
}

#rodape-pagina {
  grid-area: rodape;
}

/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin: 10px;
}

#cabecalho-pagina h1 {
  font-family: "Ravie";
  margin: 0;
  font-size: 36px;
  color: var(--cor-titulo-cabecalho);
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--cor-texto);
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between; 
  line-height: 2em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end; 
  margin: 46px 15px 25px 0px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  left: -89px;
  transition: left 500ms ease-out;
  transform: translateY(-50%);
}

#ticket:hover {
  left: 0px;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  left: -10px;
  top: 17px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */


@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo: black;
    --cor-negrito: #d027aa;
    --cor-fundo-imagem-inicial: #102cca;
    --cor-fundo-imagem-final: black;
    --cor-borda-imagem: #d3d3d3;
    --cor-fundo-cardapio: rgba(255, 255, 255, 0.2);
    --cor-cardapio: #aac0ae;
    --cor-texto: rgb(255, 254, 254);
    --cor-titulo-cabecalho: #e90c0c;
  }
}


